@charset "UTF-8";
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../Lato-Bold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato-ExtraBold";
  src: url("../fonts/Lato-ExtraBold.woff2") format("woff2"), url("../Lato-ExtraBold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato-SemiBold";
  src: url("../fonts/Lato-SemiBold.woff2") format("woff2"), url("../Lato-SemiBold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../Raleway-ExtraBold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: var(--font-family-main-400);
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --picton-blue: #42A9ED;
  --picton-blue-2: #43ABF0;
  --havelock-blue: #3E9CDC;
  --jelly-bean: #286690;
  --storm-gray: #6F6D7B;
  --silver: #BBBBBB;
  --silver-2: #C4C4C4;
  --vulcan: #10101D;
  --shark: #2A2B30;
  --charade: #272733;
  --bright-gray: #3D4050;
  --font-family-main-400: "Lato-Regular", Helvetica, Arial, sans-serif;
  --font-family-main-600: "Lato-SemiBold", Helvetica, Arial, sans-serif;
  --font-family-main-700: "Lato-Bold", Helvetica, Arial, sans-serif;
  --font-family-main-800: "Lato-ExtraBold", Helvetica, Arial, sans-serif;
  --font-family-secondary-800: "Raleway-ExtraBold", "Helvetica Neue", "Arial Black", Arial, sans-serif;
  --border-radius-xsmall: 3px;
  --border-radius-small: 4px;
  --transition-main: cubic-bezier(0.767, 0.01, 0.18, 1.01);
}

.body--blocked {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: var(--border-radius-small);
  padding: 5px 10px;
  font-family: var(--font-family-main-600);
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: transparent;
}
.button--small {
  min-width: 183px;
  height: 43px;
  font-family: var(--font-family-main-400);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.button--blue {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #3E9CDC;
}
.button--white {
  border: 1px solid #6F6D7B;
  color: #2A2B30;
  background-color: #FFFFFF;
}
@media (min-width: 1023.98px) and (hover) {
  .button {
    transition: border 0.2s var(--transition-main), color 0.2s var(--transition-main), background-color 0.2s var(--transition-main);
  }
  .button--blue:hover {
    background-color: #42A9ED;
  }
  .button--white:hover {
    border: 1px solid #42A9ED;
    color: #42A9ED;
  }
}

.burger {
  position: relative;
  z-index: 10;
  outline: 0;
  border: none;
  width: 40px;
  height: 30px;
  background: transparent;
}

.burger:focus {
  outline: 0;
}

.burger span:nth-child(2) {
  position: absolute;
  top: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.3s linear;
}

.burger span:nth-child(1) {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  transition: top 0.3s 0.3s, transform 0.3s linear;
  transform-origin: 50% 50%;
}

.burger span:nth-child(3) {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  transition: top 0.3s 0.3s, transform 0.3s linear;
  transform-origin: 50% 50%;
}

.menu--active .burger span:nth-child(2) {
  width: 0;
  transition: width 0.3s linear;
}

.menu--active .burger span:nth-child(1) {
  top: 14px;
  transform: translateX(-50%) rotate(-45deg);
  transition: top 0.3s, transform 0.3s 0.3s linear;
}

.menu--active .burger span:nth-child(3) {
  top: 14px;
  transform: translateX(-50%) rotate(45deg);
  transition: top 0.3s, transform 0.3s 0.3s linear;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list--dash li {
  position: relative;
  margin-bottom: 5px;
  padding-left: 25px;
  font-family: var(--font-family-main-400);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.list--dash li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 11px;
  width: 5px;
  height: 2px;
  background-color: #000000;
}
.list--dash li:last-child {
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(16, 16, 29, 0.9);
  transition: height 0.2s var(--transition-main);
}
.header.header--compressed {
  height: 70px;
}

.header__container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__logo {
  display: block;
  margin-right: auto;
  font-family: var(--font-family-secondary-800);
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: #FFFFFF;
}
.header__logo span {
  color: #42A9ED;
}

.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  display: inline-block;
  font-family: var(--font-family-main-600);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.header__burger {
  display: none;
}

@media (min-width: 1023.98px) and (hover) {
  .header__link {
    transition: color 0.2s var(--transition-main);
  }
  .header__link:hover {
    color: #43ABF0;
  }
}
@media (min-width: 899.98px) {
  .header__item + .header__item {
    margin-left: 60px;
  }
}
@media (min-width: 767.98px) and (max-width: 899.98px) {
  .header__item + .header__item {
    margin-left: 40px;
  }
}
@media (max-width: 767.98px) {
  .header {
    z-index: 1;
    height: 85px;
  }
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 29, 0);
    transition: background-color 0.3s var(--transition-main) 0.1s;
  }
  .header__logo {
    z-index: 12;
  }
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 0;
    overflow-y: auto;
    padding: 100px 60px 40px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition-duration: 0s;
    transition-delay: 0.4s;
  }
  .header__nav::before, .header__nav::after {
    content: "";
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: #10101d;
  }
  .header__nav::before {
    left: -52%;
    transition: left 0.3s ease-in 0.3s;
  }
  .header__nav::after {
    right: -52%;
    transition: right 0.3s ease-in 0.3s;
  }
  .header__menu {
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header__item + .header__item {
    margin-top: 40px;
  }
  .header__link {
    position: relative;
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(0.767, 0.01, 0.18, 1.01);
  }
  /* Из активного в неактивное состояние */
  .header__item:nth-child(1) .header__link {
    transition-duration: 0.2s;
    transition-delay: 0.14s;
  }
  .header__item:nth-child(2) .header__link {
    transition-duration: 0.2s;
    transition-delay: 0.1s;
  }
  .header__item:nth-child(3) .header__link {
    transition-duration: 0.2s;
    transition-delay: 0.06s;
  }
  .header__item:nth-child(4) .header__link {
    transition-duration: 0.2s;
    transition-delay: 0.02s;
  }
  /* Из неактивного в активное состояние */
  .menu--active .header__item:nth-child(1) .header__link {
    transition-delay: 0.3s;
  }
  .menu--active .header__item:nth-child(2) .header__link {
    transition-delay: 0.35s;
  }
  .menu--active .header__item:nth-child(3) .header__link {
    transition-delay: 0.4s;
  }
  .menu--active .header__item:nth-child(4) .header__link {
    transition-delay: 0.45s;
  }
  .header__burger {
    z-index: 11;
    display: block;
  }
  /* Бургер меню открыто */
  .menu--active {
    /* Левая створка "закрыта" */
    /* Правая створка "закрыта" */
  }
  .menu--active.header::before {
    background-color: #10101d;
  }
  .menu--active .header__nav {
    top: 0;
    transition-delay: 0.4s;
  }
  .menu--active .header__nav::before {
    left: 0;
    transition-delay: 0s;
  }
  .menu--active .header__nav::after {
    right: 0;
    transition-delay: 0s;
  }
  .menu--active .header__link {
    opacity: 1;
  }
}
@media (max-width: 549.98px) {
  .header {
    height: 70px;
  }
  .header.header--compressed {
    height: 60px;
  }
  .header__logo {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 419.98px) {
  .header {
    height: 60px;
  }
  .header.header--compressed {
    height: 50px;
  }
  .header__logo {
    font-size: 22px;
    line-height: 27px;
  }
  .header__nav {
    padding: 85px 45px;
  }
}
.hero {
  padding: 200px 0;
  min-height: 850px;
  background-color: #F7F9FB;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.webp .hero {
  background-image: url("../../images/hero/bg.webp");
}

.no-js .hero,
.no-webp .hero {
  background-image: url("../../images/hero/bg.jpg");
}

.hero__title {
  margin: 0;
  margin-bottom: 80px;
  font-family: var(--font-family-main-700);
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}
.hero__title span {
  color: #3E9CDC;
}

.hero__paragraph {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--font-family-main-400);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.hero__paragraph--bold {
  font-family: var(--font-family-main-700);
  font-weight: 700;
}

.hero__list {
  margin-bottom: 80px;
}

.hero__actions {
  display: flex;
  flex-wrap: wrap;
}

.hero__button:first-child {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .hero {
    background-position: 63% 50%;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding: 100px 0 150px;
    min-height: 700px;
  }
  .hero__title {
    font-size: 42px;
    line-height: 52px;
  }
  .hero__title br {
    display: none;
  }
}
@media (max-width: 549.98px) {
  .hero__title {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 46px;
  }
}
@media (min-width: 299.98px) and (max-width: 767.98px) {
  .hero {
    background-position: 5% 50%;
  }
}
@media (max-width: 479.98px) {
  .hero {
    padding: 80px 0 100px;
    min-height: 600px;
  }
  .hero__title {
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 42px;
    word-wrap: break-word;
  }
}
.order {
  padding: 120px 0 150px;
  background-color: rgba(39, 39, 51, 0.9);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.order__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: var(--font-family-main-800);
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}
.order__title span {
  color: #3E9CDC;
}

.order__subtitle {
  margin: 0;
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #BBBBBB;
}

.order__scheme {
  margin-bottom: 80px;
}

@media (min-width: 991.98px) {
  .webp .order {
    background-image: linear-gradient(rgba(39, 39, 51, 0.9), rgba(39, 39, 51, 0.9)), url("../../images/order/bg.webp");
  }
  .no-js .order,
.no-webp .order {
    background-image: linear-gradient(rgba(39, 39, 51, 0.9), rgba(39, 39, 51, 0.9)), url("../../images/order/bg.jpg");
  }
}
@media (max-width: 991.98px) {
  .order {
    background-color: rgba(39, 39, 51, 0.9);
  }
}
@media (max-width: 419.98px) {
  .order__title {
    font-size: 32px;
    line-height: 39px;
  }
}
.scheme {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.scheme__step {
  flex: 0 0 20%;
}
.scheme__step--1 .scheme__wrapper::before, .scheme__step--5 .scheme__wrapper::after {
  display: none;
}
.scheme__step--1 .scheme__wrapper > span:nth-child(1), .scheme__step--1 .scheme__wrapper > span:nth-child(2), .scheme__step--5 .scheme__wrapper > span:nth-child(4), .scheme__step--5 .scheme__wrapper > span:nth-child(5) {
  background-color: transparent;
}
.scheme__step > span {
  display: none;
  margin: 10px 0;
  border-radius: 100%;
  width: 6px;
  min-width: 6px;
  height: 6px;
  background-color: #C4C4C4;
}

.scheme__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheme__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}
.scheme__wrapper::before, .scheme__wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  border: 2px solid #C4C4C4;
  width: 3px;
  height: 6px;
  transform: translateY(-50%);
}
.scheme__wrapper::before {
  left: -3px;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
}
.scheme__wrapper::after {
  right: -3px;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
}
.scheme__wrapper > span {
  display: block;
  margin: 0 4.35%;
  border-radius: 100%;
  width: 6px;
  min-width: 6px;
  height: 6px;
  background-color: #C4C4C4;
}

.scheme__elem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  border: 5px solid #286690;
  border-radius: 100%;
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-color: #3E9CDC;
}

.scheme__icon--lupe {
  width: 33px;
  height: 33px;
}

.scheme__icon--percent {
  width: 31px;
  height: 31px;
}

.scheme__icon--new-doc {
  width: 38px;
  height: 42px;
}

.scheme__icon--mail {
  width: 36px;
  height: 28px;
}

.scheme__icon--money {
  width: 39px;
  height: 26px;
}

.scheme__desc {
  margin: 0 auto;
  max-width: 188px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1199.98px) {
  .scheme {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
  .scheme__step .scheme__wrapper > span:nth-child(1),
.scheme__step .scheme__wrapper > span:nth-child(5) {
    background-color: transparent;
  }
  .scheme__wrapper > span {
    margin: 0 8%;
  }
}
@media (max-width: 991.98px) {
  .scheme {
    flex-direction: column;
    max-width: 800px;
  }
  .scheme__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
  }
  .scheme__step > span {
    display: block;
  }
  .scheme__wrapper::before, .scheme__wrapper::after {
    display: none;
  }
  .scheme__wrapper > span {
    display: none;
  }
  .scheme__desc {
    margin-bottom: 5px;
    max-width: 100%;
  }
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  width: 100%;
}

.form__field {
  flex: 0 1 33.333%;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 33.333%;
}
.form__field--twice {
  flex: 0 1 66.666%;
  max-width: 66.666%;
}

.form__label {
  width: 100%;
}

.form__input,
.choices__inner {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: var(--border-radius-xsmall);
  padding: 12px 36px 12px 10px;
  width: 100%;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
  color: var(--charade);
  background-color: rgba(255, 255, 255, 0.85);
}
.form__input:focus, .form__input:focus-visible,
.choices__inner:focus,
.choices__inner:focus-visible {
  outline: 5px solid var(--picton-blue);
}

.form__input::-moz-placeholder {
  font-size: 18px;
  line-height: 22px;
  color: var(--charade);
}

.form__input::placeholder {
  font-size: 18px;
  line-height: 22px;
  color: var(--charade);
}

/* Choices plugin blocks */
.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one]::after {
  position: absolute;
  top: 42%;
  right: 16px;
  margin: 0;
  border: none;
  width: 9px;
  height: 7px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93373 5.34847C8.93373 5.4199 8.89801 5.50025 8.84444 5.55382L8.39801 6.00025C8.34444 6.05382 8.26408 6.08954 8.19265 6.08954C8.12123 6.08954 8.04087 6.05382 7.9873 6.00025L4.47837 2.49132L0.969439 6.00025C0.915867 6.05382 0.83551 6.08954 0.764082 6.08954C0.683725 6.08954 0.612296 6.05382 0.558725 6.00025L0.112296 5.55382C0.0587246 5.50025 0.0230103 5.4199 0.0230103 5.34847C0.0230103 5.27704 0.0587246 5.19668 0.112296 5.14311L4.27301 0.982396C4.32658 0.928824 4.40694 0.89311 4.47837 0.89311C4.5498 0.89311 4.63015 0.928824 4.68372 0.982396L8.84444 5.14311C8.89801 5.19668 8.93373 5.27704 8.93373 5.34847Z' fill='black'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: 9px 7px;
  background-repeat: no-repeat;
  transform: rotate(180deg) translateY(-50%);
  transform-origin: 50% 50%;
  transition: transform 0.2s var(--transition-main), background-image 0.2s var(--transition-main);
}

.choices[data-type*=select-one].is-open::after {
  top: 50%;
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93373 5.34847C8.93373 5.4199 8.89801 5.50025 8.84444 5.55382L8.39801 6.00025C8.34444 6.05382 8.26408 6.08954 8.19265 6.08954C8.12123 6.08954 8.04087 6.05382 7.9873 6.00025L4.47837 2.49132L0.969439 6.00025C0.915867 6.05382 0.83551 6.08954 0.764082 6.08954C0.683725 6.08954 0.612296 6.05382 0.558725 6.00025L0.112296 5.55382C0.0587246 5.50025 0.0230103 5.4199 0.0230103 5.34847C0.0230103 5.27704 0.0587246 5.19668 0.112296 5.14311L4.27301 0.982396C4.32658 0.928824 4.40694 0.89311 4.47837 0.89311C4.5498 0.89311 4.63015 0.928824 4.68372 0.982396L8.84444 5.14311C8.89801 5.19668 8.93373 5.27704 8.93373 5.34847Z' fill='white'/%3E%3C/svg%3E%0A");
  transform: rotate(0deg) translateY(-50%);
}

.choices__list--dropdown {
  overflow-y: scroll !important;
  min-height: 100%;
  max-height: 200px;
}

.choices .choices__list--dropdown .choices__item {
  padding: 7px;
  font-size: 18px;
  line-height: 22px;
}

.choices.is-open .choices__inner {
  border: 1px solid var(--bright-gray);
  border-bottom: none;
  background-color: rgba(61, 64, 80, 0.85);
}
.choices.is-open .choices__item {
  color: var(--white-color);
  background-color: transparent;
  transition: color 0.2s var(--transition-main);
}
.choices.is-open .choices__item.is-highlighted {
  color: var(--picton-blue);
  background-color: transparent;
}
.choices.is-open .choices__list--dropdown {
  overflow: hidden;
  border: 1px solid var(--bright-gray);
  border-top: none;
  border-bottom-left-radius: var(--border-radius-xsmall);
  border-bottom-right-radius: var(--border-radius-xsmall);
  background-color: rgba(39, 39, 51, 0.9);
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}
/*# sourceMappingURL=style.css.map */
