.form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  width: 100%;
}

.form__field {
  flex: 0 1 33.333%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  padding: 0 15px;
  max-width: 33.333%;

  &--twice {
    flex: 0 1 66.666%;
    max-width: 66.666%;
  }
}

.form__label {
  width: 100%;
}

.form__input {
  position: relative;
  border: 1px solid rgba($white-color, 0.85);
  border-radius: var(--border-radius-xsmall);
  padding: 12px 36px 12px 10px;
  width: 100%;
  height: 48px;
  font-size: 18px;
  line-height: 22px;
  color: var(--charade);
  background-color: rgba($white-color, 0.85);
  transition: color .2s var(--transition-main), background-color .2s var(--transition-main);

  &::placeholder {
    font-size: 18px;
    line-height: 22px;
    color: var(--charade);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border: 1px solid var(--havelock-blue);
    color: var(--white-color);
    background-color: rgba($bright-gray, 0.85);
  }

  &:focus::placeholder ,
  &:focus-visible::placeholder {
    color: var(--white-color);
  }
}

.form__name {
  display: block;
  margin-right: auto;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
  color: var(--white-color);
}

.form__value {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: var(--white-color);

  &::after {
    content: '%';
  }
}

.form__range {
  appearance: none;
  display: block;
  border: 1px solid var(--white-color);
  border-radius: var(--border-radius-xsmall);
  padding: 0;
  width: 100%;
  height: 6px;
  background-color: rgba($white-color, 0.7);
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  display: block;
  border: 3px solid var(--jelly-bean);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: var(--picton-blue);
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  appearance: none;
  display: block;
  border: 3px solid var(--jelly-bean);
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: var(--picton-blue);
  cursor: pointer;
}
