.hero {
  padding: 200px 0;
  min-height: 850px;
  background-color: #F7F9FB;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.webp .hero {
  background-image: url("../../images/hero/bg.webp");
}

.no-js .hero,
.no-webp .hero {
  background-image: url("../../images/hero/bg.jpg");
}

.hero__title {
  margin: 0;
  margin-bottom: 80px;
  font-family: var(--font-family-main-700);
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;

  & span {
    color: $havelock-blue;
  }
}

.hero__paragraph {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--font-family-main-400);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $black-color;

  &--bold {
    font-family: var(--font-family-main-700);
    font-weight: 700;
  }
}

.hero__list {
  margin-bottom: 80px;
}

.hero__actions {
  display: flex;
  flex-wrap: wrap;
}

.hero__button:first-child {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media (min-width: 767.98px) AND (max-width: 991.98px) {

  .hero {
    background-position: 63% 50%;
  }
}

@media (max-width: 767.98px) {

  .hero {
    padding: 100px 0 150px;
    min-height: 700px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 52px;

    & br {
      display: none;
    }
  }
}

@media (max-width: 549.98px) {

  .hero__title {
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 46px;
  }
}

@media (min-width: 299.98px) AND (max-width: 767.98px) {

  .hero {
    background-position: 5% 50%;
  }
}

@media (max-width: 479.98px) {

  .hero {
    padding: 80px 0 100px;
    min-height: 600px;
  }

  .hero__title {
    margin-bottom: 60px;
    font-size: 32px;
    line-height: 42px;
    word-wrap: break-word;
  }
}
