.order {
  padding: 120px 0 150px;
  background-color: rgba($charade, 0.9);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.order__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: var(--font-family-main-800);
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  color: $white-color;

  & span {
    color: $havelock-blue;
  }
}

.order__subtitle {
  margin: 0;
  margin-bottom: 80px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $silver;
}

.order__scheme {
  margin-bottom: 80px;
}

@media (min-width: 991.98px) {

  .webp .order {
    background-image: linear-gradient(rgba($charade, 0.9), rgba($charade, 0.9)), url("../../images/order/bg.webp");
  }

  .no-js .order,
  .no-webp .order {
    background-image: linear-gradient(rgba($charade, 0.9), rgba($charade, 0.9)), url("../../images/order/bg.jpg");
  }
}

@media (max-width: 991.98px) {

  .order {
    background-color: rgba($charade, 0.9);
  }
}

@media (max-width: 419.98px) {

  .order__title {
    font-size: 32px;
    line-height: 39px;
  }
}
