@import "mixins";
@import "fonts";
@import "vars";
@import "reset";

:root {
  --white-color: #FFFFFF;
  --black-color: #000000;
  --vulcan: #10101D;
  --picton-blue: #42A9ED;
  --picton-blue-2: #43ABF0;
  --havelock-blue: #3E9CDC;
  --storm-gray: #6F6D7B;
  --shark: #2A2B30;

  --font-family-main-400: "Lato-Regular", Helvetica, Arial, sans-serif;
  --font-family-main-600: "Lato-SemiBold", Helvetica, Arial, sans-serif;
  --font-family-main-700: "Lato-Bold", Helvetica, Arial, sans-serif;
  --font-family-secondary-800: "Raleway-ExtraBold", "Helvetica Neue", "Arial Black", Arial, sans-serif;

  --border-radius-small: 4px;

  --transition-main: cubic-bezier(0.767, 0.01, 0.18, 1.01);
}

$white-color: #FFFFFF;
$black-color: #000000;
$vulcan: #10101D;
$picton-blue: #42A9ED;
$picton-blue-2: #43ABF0;
$havelock-blue: #3E9CDC;
$storm-gray: #6F6D7B;
$shark: #2A2B30;

@import "blocks/body";
@import "blocks/visually-hidden";
@import "blocks/page";
@import "blocks/button";
@import "blocks/burger";
@import "blocks/list";
@import "blocks/container";
@import "blocks/main";
@import "blocks/header";
@import "blocks/hero";

@import "blocks/footer";
